<div class="container">
    <div>
        <div>
            <h3>Find Company Information</h3>
            <form ng-submit="submit()">
                <div>
                    Search Text: 
                    <input placeholder="Required" type="text" ng-model="MODELinput" name="text" />
                </div>
                <div>
                    Options 
                    <select>
                        <option>CVR</option>
                    </select>
                </div>

                <div>
                    <input type="submit" id="submit" value="Search" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h3>Company</h3>
                <table class="table">
                    <!--<tr ng-repeat="(key, value) in data">
                        <td width="50" class="text-primary">{{key}}</td>
                        <td width="100">{{value}}</td>
                    </tr> -->
                    <tr>
                        <td>Name</td>
                        <td>{{data.MODEL}}</td>
                    </tr>
                    <tr>
                        <td>CVR</td>
                        <td>{{data.BY}}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{data.PRIS}}</td>
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
</div>